.nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background);
    z-index: 9999;
}

.box_logo {
    display: flex;
    align-items: center;
}

.box_logo h4 {
    font-size: 25px;
    line-height: 1em;
    font-family: var(--font-anton);
}

.link {
    width: 220px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin-right: 8%;
    border-bottom: 2px solid var(--foreground);
}

.menu {
    width: 40px;
    height: 4px;
    cursor: pointer;
    background-color: var(--foreground);
}