.section_tattoo_show {
    /* width: 100vw; */
    height: auto;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    padding: 11.25rem 0;
    background-color: var(--background);
    perspective: 1600px;
}

/* .tattoo_box {
    position: relative;
    width: 18.75rem;
    height: 31.25rem;
} */

.image_1 {
    object-fit: cover;
}

.image_2 {
    object-fit: cover;
    margin-left: 64%;
}

.image_3 {
    object-fit: cover;
    margin-right: 64%;
}